
@media only screen and (max-width: 980px) {

    section {
        width: 80%;
    }

    .contact {
        font-size: 2.0em;
        padding: 32px;
    }

    .spacer {
        margin: 32px;
        padding: 32px;
    }

}

@media only screen and (max-width: 768px) {

    header {
        font-size: 1.0em;
    }

    section {
        width: 75%;
    }

    .imgProject {
        margin: 32px auto;
    }

    .contact {
        font-size: 1.8em;
        padding: 16px;
    }

    .spacer {
        margin: 16px;
        padding: 16px;
    }

    #mycanvas {
        width: 300px;
    }

}

@media only screen and (max-width: 640px) {

    section {
        width: 80%;
    }

    .img {
        display: block;
        float: none;
        width: 32%;
        margin: 32px auto;
    }

    .imgProject {
        position: relative;
        margin: 32px auto;
    }

    .contact {
        font-size: 1.8em;
        padding: 16px;
    }

    .spacer {
        margin: 16px;
        padding: 16px;
    }

    .displayCase {
        display: block;
        float: none;
        text-align: center;
        margin: 0px auto;
    }

    #mycanvas {
        width: 256px;
    }

    .canvasKApJS {
        margin: 40px auto;
    }

}

@media only screen and (max-width: 448px) {

    .flex-container {
        display: block;
        text-align: center;
    }

    section {
        width: 70%;
    }

    h2 {
        padding-bottom: 16px;
    }

    .img {
        display: block;
        float: none;
        width: 40%;
        margin: 32px auto;
    }

    img.effect {
        width: 90%;
    }

    .imgProject {
        position: relative;
        margin: 32px auto;
    }

    a.label {
        position: absolute;
        top: 112px;
        left: 15px;
        width: 90%;
        background: #112288;
        color: #add8e6;
        font-size: 4.0vw;
    }

    .contact {
        font-size: 0.8em;
    }

    .displayCase {
        display: block;
        float: none;
        text-align: center;
        margin: 0px auto;
    }

    #mycanvas {
        width: 200px;
    }

    .canvasKApJS {
        margin: 40px auto;
    }

}

