
@media only screen and (max-width: 980px) {

    section {
        width: 88%;
    }

    .contact {
        font-size: 1.8em;
        padding: 32px;
    }

    .spacer {
        margin: 32px auto;
        padding: 32px;
    }

}

@media only screen and (max-width: 768px) {

    header {
        font-size: 1.0em;
    }

    section {
        width: 88%;
    }

    .contact {
        font-size: 1.8em;
        padding: 32px;
    }

    .spacer {
        margin: 32px;
        padding: 32px;
    }

    #mycanvas {
        width: 300px;
    }

}

@media only screen and (max-width: 640px) {

    section {
        width: 88%;
    }

    .img {
        display: block;
        float: none;
        width: 32%;
        margin: 32px auto;
    }

    .contact {
        font-size: 1.5em;
        padding: 24px;
    }

    .spacer {
        margin: 24px;
        padding: 24px;
    }

    .displayCase {
        display: block;
        float: none;
        text-align: center;
        margin: 0px auto;
    }

    #mycanvas {
        width: 256px;
    }

    .canvasKApJS {
        margin: 40px auto;
    }

}

@media only screen and (max-width: 448px) {

    .flex-container {
        display: block;
        text-align: center;
    }

    section {
        width: 96%;
    }

    h2 {
        height: 80px;
        padding-bottom: 16px;
    }

    .img {
        display: block;
        float: none;
        width: 40%;
        margin: 32px auto;
    }

    .imgProject {
        margin: 32px auto;
    }

    a.label {
        font-size: 1.2em;
    }

    .contact {
        font-size: 1.0em;
        padding: 24px;
    }

    .spacer {
        margin: 24px;
        padding: 24px;
    }

    .displayCase {
        display: block;
        float: none;
        text-align: center;
        margin: 0px auto;
    }

    #mycanvas {
        width: 200px;
    }

    .canvasKApJS {
        margin: 40px auto;
    }

}

@media only screen and (max-width: 320px) {

    section {
        width: 88%;
    }

    .imgProject > img {
        width: 100%;
        margin: 16px auto;
    }

    a.label {
        font-size: 1.0em;
    }

    .contact {
        font-size: 0.9em;
        padding: 16px;
    }

    .spacer {
        margin: 16px auto;
        padding: 16px;
    }

}

