
@media only screen and (max-width: 980px) {

    #divHeader {
        width: 72%;
    }

    section {
        width: 80%;
    }

}

@media only screen and (max-width: 768px) {

    #divHeader {
        width: 80%;
    }

    nav {
        line-height: 32px;
        padding: 32px 32px 32px 32px;
    }

    section {
        width: 75%;
    }

    .img {
        width: 42%;
    }

    .imgProject {
        margin: 32px auto;
    }

}

@media only screen and (max-width: 640px) {

    #divHeader {
        width: 100%;
        text-align: center;
    }

    nav {
        text-align: center;
        padding: 16px;
    }

    #floatL, #floatR {
        float: none;
    }

    section {
        width: 80%;
    }

    .img {
        display: block;
        float: none;
        width: 75%;
        margin: 32px auto;
    }

    .imgProject {
        position: relative;
        margin: 32px auto;
    }

}

@media only screen and (max-width: 320px) {

    #divHeader {
        width: 100%;
        text-align: center;
    }

    #floatL, #floatR {
        float: none;
    }

    nav {
        text-align: center;
        padding: 16px;
    }

    section {
        width: 70%;
    }

    .img {
        display: block;
        float: none;
        width: 55%;
        margin: 32px auto;
    }

    img.effect {
        width: 90%;
    }

    .imgProject {
        position: relative;
        /* width: 25%; */
        margin: 32px auto;
    }

    a.label {
        position: absolute;

        top: 112px;
        left: 11px;
        width: 90%;
        /* height: 24%; */

        background: #112288;

        color: #add8e6;
        font-size: 4.0vw;
        /* line-height: 24px; */
    }

}

