
.slideshow-container {
    position: relative;
    margin: 32px auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    position: absolute;
    cursor: pointer;
    top: 40%;
    width: auto;
    font-size: 1.0em;
    color: #00008b;
    border: 2px solid #00008b;
    padding: 16px;
    transition: 0.2s ease;
}

.prev {
    left: 0;
    border-left: none;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #000000cc;
    box-shadow: 4px 4px 2px 0px #464646, 0px 0px 1px 1px #464646;
}

img {
    width: 100%;
    filter: brightness(125%) contrast(90%);
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 18%;
    overflow: auto;
    text-align: center;
    font-size: 0.9em;
    color: #222222;
    border: 2px solid #4682b4;
    border-top: none;
    padding: 8px 12px;
}

.numbertext {
    z-index: 1;
    position: absolute;
    top: 0;
    font-size: 0.6em;
    color: #222222;
    border-right: 2px solid #4682b4;
    border-bottom: 2px solid #4682b4;
    padding: 8px 12px;
}

.dotRows {
    text-align: center;
}

.dot {
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #222222;
    border-radius: 50%;
    margin: 0 2px;
    transition: background-color 0.2s ease;
}

.active, .dot:hover {
    background-color: #666666;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

