
* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #eeeeee;

    color: #000000;

    margin: auto;
}

html {
    width: 100%;
    min-height: 100%;

    background-image: url("../images/carbon_fibre_big.png");
    background-color: #eeeeee;
}

body {
    background-image: url("../images/carbon_fibre_big.png");
}

/* typography on nav */
a {
    text-decoration: none;
}

.navLink {
    border-left: 1px solid #bbbbdd;
    border-right: 1px solid #bbbbdd;

    padding: 4px;
}

a:link {
    color: #112288;
}

a:visited {
    color: #112288;
}

a:hover {
    background-color: #00008b;

    color: #add8e6;
}

a:active {
    color: #00008b;
}

/* header */
header {
    width: 100%;

    border-bottom: 4px solid #4682b4;
}

#divHeader {
    max-width: 892px;
}

h1 {
    font-family: 'Poly', Times, Times New Roman, serif;
    background: #00008b;

    color: #add8e6;

    padding: 32px;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

nav {
    line-height: 32px;
    text-align: right;

    padding: 32px 16px 32px 32px;
}

/* content */
section {
    max-width: 892px;

    border: 4px solid #4682b4;

    margin: 32px auto 88px auto;
    padding: 32px;
}

h2 {
    height: 48px;
    font-family: 'Poly', Times, Times New Roman, serif;

    color: #00008b;

    border-bottom: 4px solid #4682b4;
}

p {
    line-height: 24px;

    padding: 16px 0px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    border-top: 4px solid #4682b4;

    background: #eeeeee;

    color: #4682b4;
    text-align: center;
    font-size: 12px;
    line-height: 64px;
}

/* bio page */
#bio {
    min-height: 464px;

    margin: 32px 0px;
}

.img {
    /* bio pic position */
    float: left;

    width: 32%;
    height: 32%;

    margin: 40px 32px 16px 0px;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

/* portfolio page */
#mQcenter {
    text-align: center;
}

.imgProject {
    display: inline-block;
    position: relative;

    margin: 32px;
}

img.effect {
    opacity: 0.64;
    filter: blur(1px) brightness(48%);
}

a.label {
    position: absolute;

    top: 136px;
    left: 0px;
    width: 100%;
    height: 64px;

    background: #112288;

    color: #add8e6;
    font-size: 22px;
    line-height: 32px;
}

/* contact page */
label.for {
    min-width: 100%;
}

input[type=text], textarea {
    cursor: pointer;

    width: 96%;
    background-color: #ffffff;

    border: 2px solid #4682b4;

    margin-top: 8px;
    margin-bottom: 32px;
    padding: 16px;
}

input[type=email] {
    cursor: pointer;

    width: 96%;
    background-color: #ffffff;

    border: 2px solid #4682b4;

    margin-top: 8px;
    margin-bottom: 32px;
    padding: 16px;
}

input[type=button] {
    cursor: pointer;

    background-color: #4682b4;

    color: #ffffff;

    border: none;
    padding: 16px;
}

input[type=button]:hover {
    background-color: #00008b;

    color: #add8e6;
}

.contact {
    border-top: 1px solid #4682b4;

    padding: 16px;
}

textarea {
    resize: vertical;
    height: 192px;
}

/* ka-makeItRain */
#displayCase {
    float: left;
    position: relative;
}

.canvasKApJS {
    /* processing canvas position */
    margin: 40px 32px 16px 0px;
}

#startBtn {
    position: absolute;
    bottom: 16px;
    left: 16px;

    margin: 8px auto;
}

#stopBtn {
    position: absolute;
    bottom: 16px;
    right: 48px;

    margin: 8px auto;
}

