
* {
    box-sizing: border-box;
    background-color: #bcbcbc;
}

em {
    font-style: italic;
}

html, body {
    background-image: url("../images/binding_dark.png");
    background-color: #464646;
    font-family: 'Galdeano', 'Arial', 'Helvetica Neue', Helvetica,  sans-serif;
    color: #242424;
}

/* links */

.nav-link {
    border-left: 1px solid #8888dd;
    border-right: 1px solid #8888dd;
    padding: 2px;
}

a {
    text-decoration: none;
    font-weight: 600;
}    

a:link, a:visited {
    color: #112288;
}

a.nav-link:hover {
    background-color: #00008b;
    color: #add8e6;
}

a:active {
    color: #00008b;
}

/* header */

header {
    font-size: 1.2em;
    border-bottom: 4px solid #4682b4;
}

.flex-container {
    display: flex;
    justify-content: center;
}

h1, nav {
    line-height: 32px;
    padding: 32px;
}    

h1 {
    background-color: #00008b;
    font-family: 'Poly', Times, Times New Roman, serif;
    font-size: 1.6em;
    color: #add8e6;
    border-left: 2px solid #4682b4;
}    

nav {
    border-right: 2px solid #4682b4;
}

nav, .nav-link {
    background-color: #add8e6;
    color: #00008b;
}    

/* content */

section {
    width: 56%;
    font-size: 1.2em;
    border: 4px solid #4682b4;
    margin: 32px auto 108px auto;
    padding: 32px;
}

h2 {
    height: 64px;
    font-family: 'Poly', Times, Times New Roman, serif;
    font-size: 1.5em;
    color: #00008b;
    border-bottom: 4px solid #4682b4;
}

#mq-center {
    text-align: center;
}

p {
    line-height: 24px;
    padding: 16px 0px;
}

/* footer */

footer {
    z-index: 2;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    text-align: center;
    font-size: 1.0em;
    font-weight: 600;
    color: #4682b4;
    line-height: 24px;

    border-top: 4px solid #4682b4;
    padding: 12px 0px;
}

.nav-footer {
    background-color: initial;
}

/* index */

#bio {
    margin: 32px 0px;
}

.bio-pic {
    float: left;
    width: 16%;
    margin: 40px 32px 16px 0px;
}

.logo {
    float: right;
    width: 24%;
    margin: 24px 16px;
}

.meanwhile {
    font-size: 1.3em;
}

