
* {
    box-sizing: border-box;
    background: #efefef;
    color: #242424;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

html {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ababab;
    margin: auto;
}

body {
    box-shadow: 4px 4px 2px, 0 0 1px 1px;
    width: 56%;
    margin: 16px auto 32px auto;
    padding: 0 64px 32px 64px;
}

header {
    text-align: center;
    border: 2px solid #1122bb;
    border-top: none;
}

h1, h2 {
    font-family: "Poly", Times, "Times New Roman", serif;
    color: #1122bb;
}

h1 {
    line-height: 96px;
    font-size: 2.0em;
    font-weight: 700;
    background: #dedede;
}

h2, h3 {
    line-height: 64px;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
    border-bottom: 4px solid #1122bb;
}

h3 {
    font-size: 1.25em;
    text-decoration: underline;
}

ol {
    list-style: upper-roman;
    padding: 0 24px;
}

ul {
    list-style: disc;
    padding: 0 24px;
}

li {
    font-size: 0.85em;
    padding: 8px 0;
}

p {
    line-height: 20px;
    padding: 16px 0;
}

.note {
    font-size: 0.75em;
}

table {
    border-collapse: unset;
    width: 50%;
    font-size: 0.9em;
    border: 2px solid #1122bb;
    margin: 8px auto;
    padding: 1px;
}

tr, td {
    border: 2px solid #dedede;
}

td {
    text-align: center;
    vertical-align: middle;
    width: 33.0%;
    line-height: 32px;
}

caption {
    caption-side: bottom;
    font-size: 0.75em;
    font-weight: 700;
    color: #1122bb;
    margin: 16px 0
}

#audio {
    width: 96%;
}

table#audio td {
    width: 20%;
}

table.x-paths td {
    width: auto;
}

p.placeholder {
    text-align: center;
    background-color: #bbbbbb;
    width: 50%;
    height: 128px;
    margin: 2px auto;
}

.caption {
    text-align: center;
    font-size: 0.75em;
    font-weight: 700;
    color: #1122bb;
    margin: 16px auto;
}

.buttonBorder {
    font-weight: bold;
    border: 1px solid #000000;
    padding: 0 2px;
}

.green, .red, .blue {
    font-weight: 700;
}

.green {
    color: #00ee00;
}

.red {
    color: #ee0000;
}

.blue {
    color: #0000ee;
}

.expand {
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 1.25em;
    font-weight: 700;
    outline: none;
    border: none;
    border-top: 1px solid #1122bb;
    border-bottom: 1px solid #1122bb;
    padding: 16px 0;
}

.content {
    display: none;
    overflow: hidden;
}

.expand:after {
    content: "\02795";
    font-size: 1em;
    float: right;
}

.active:after {
    content: "\2796";
}

